@import "./libs/normalize";
@import "~bootstrap/scss/bootstrap";
@import "./components/Bootstap.scss";
.wrapper {
  background-image: url(..//img/backraund.png);
  background-repeat: no-repeat;
  width:1916px;
  background-color: #1c1b21;
  height: 100%;
}
.container{
margin: 0px 401px;
padding: 0px;
}
h2 {

  font-family: Poppins;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}


